---
import Layout from "../layouts/Layout.astro";
import "../css/contacto.css"
---

<Layout title="Contáctanos">
  <main>
    <article class="text">
      <section class="text__head">
        <h1 class="text__title">Contáctanos</h1>
        <p class="text__p">
          Aquí encontrarás toda nuestra información de contacto, estaremos
          encantados de atenderte.
        </p>
      </section>
      <ul class="list--reset text__list">
        <li>
          <h2 class="text__list__title">Número de Teléfono:</h2>
          <p class="text__list__p">+593 98 255 5079</p>
        </li>
        <li>
          <h2 class="text__list__title">Correo Electrónico:</h2>
          <p class="text__list__p">thecatering.co@outlook.com</p>
        </li>
        <li>
          <h2 class="text__list__title">Redes Sociales:</h2>
          <p class="text__list__p">
            Si deseas contactarnos por redes sociales, puedes hacerlo a través
            de estos enlaces. Nos contactaremos contigo lo más pronto posible.
          </p>
          <div class="text__list__social">
            <button class="button button--icon">
              <figure>
                <img
                  class="img--large"
                  src="/The-Catering-Co-Page-Astro/facebook-svgrepo-com.svg"
                  alt="facebook-icon"
                />
              </figure>
               Facebook</button
            >
            <button class="button button--icon">
              <figure>
                <img
                  class="img--large"
                  src="/The-Catering-Co-Page-Astro/instagram-svgrepo-com (1).svg"
                  alt="instagram-icon"
                />
              </figure>
               Instagram
            </button>
            <button class="button button--icon">
              <figure>
                <img
                  class="img--large"
                  src="/The-Catering-Co-Page-Astro/whatsapp-128-svgrepo-com.svg"
                  alt="whatsapp-icon"
                />
              </figure>
               WhatsApp
               </button>
          </div>
        </li>
      </ul>
    </article>
    <figure class="figure">
      <img class="img--large img--cover" src="/The-Catering-Co-Page-Astro/slider-1.jpg" alt="paisaje de noche">
    </figure>
  </main>
</Layout>

