---
import Layout from "../layouts/Layout.astro";
import Form  from "../components/Form.jsx";
import "../css/cotiza.css"
---

<Layout title="Cotiza tu Evento" desc="Solicita tu cotización personalizada hoy mismo y déjanos ser parte de la planificación de tu evento extraordinario. En nuestra página de cotización, proporciona los detalles de tu celebración, desde el tipo de evento hasta tus preferencias específicas. Nuestro equipo especializado se encargará de crear una oferta personalizada que se adapte a tus necesidades y presupuesto. ¡Haz clic ahora y comienza el viaje hacia un evento excepcional en nuestra exclusiva quinta para eventos!">
  <main>
    <section class="container--text">
      <h1 class="container__title">Reserva 3ra Open House ! By The Catering Company & Meraki Brunch y Eventos.</h1>
      <p class="container__p">
        No te pierdas la tercera edición de nuestro Open House, donde podrás conocer nuestras instalaciones, degustar nuestros platillos y conocer a nuestros proveedores.
        <br>
        <span class="color--red">* Indica que la pregunta es obligatoria </>
      </p>
    </section>
    <Form client:visible />
  </main>
</Layout>
