---
import Layout from "../layouts/Layout.astro";
import { Form } from "../components/Form.jsx";
import "../css/cotiza.css"
---

<Layout title="Cotiza tu Evento">
  <main>
    <section class="container--text">
      <h1 class="container__title">Formulario de Cotización</h1>
      <p class="container__p">
        Te presentamos nuestro formulario de cotización, para que puedas
        solicitar un presupuesto de nuestros servicios. Una vez hayas llenado el
        formulario y clickeado en el botón de enviar, recibirás un mensaje con
        la información para tu evento.
      </p>
    </section>
    <Form client:visible />
  </main>
</Layout>
