---
import Layout from "../layouts/Layout.astro";
import { Form } from "../components/Form.jsx";
import "../css/cotiza.css"
---

<Layout title="Cotiza tu Evento" desc="Solicita tu cotización personalizada hoy mismo y déjanos ser parte de la planificación de tu evento extraordinario. En nuestra página de cotización, proporciona los detalles de tu celebración, desde el tipo de evento hasta tus preferencias específicas. Nuestro equipo especializado se encargará de crear una oferta personalizada que se adapte a tus necesidades y presupuesto. ¡Haz clic ahora y comienza el viaje hacia un evento excepcional en nuestra exclusiva quinta para eventos!">
  <main>
    <section class="container--text">
      <h1 class="container__title">Formulario de Cotización</h1>
      <p class="container__p">
        Te presentamos nuestro formulario de cotización, para que puedas
        solicitar un presupuesto de nuestros servicios. Una vez hayas llenado el
        formulario y clickeado en el botón de enviar, recibirás un mensaje con
        la información para tu evento.
      </p>
    </section>
    <Form client:visible />
  </main>
</Layout>
