---
import Layout from '../layouts/Layout.astro';
import '../css/index.css';

---

<Layout title="The Catering Co. || Organizadores y Catering de Eventos">
    <article class="intro flex--rownowrap">
                <section class="intro__text flex--colnowrap">
                    <p class="intro__subtext">
                        The Catering Co.
                    </p>
                    <h1 class="title intro__title" id="title">
                        Somos <br>
                        <span id="title--1">
                            Planificadores de Eventos
                        </span>
                        <span id="title--2" class="hidden">
                            Diseñadores de Eventos  
                        </span>
                        <span id="title--3" class="hidden">
                            Catering
                        </span>
                    </h1>
                    <button class="button intro__button">
                        <a href="/The-Catering-Co-Page-Astro/servicios" class="link--reset intro__link">
                            Conoce Más
                        </a>
                    </button>
                </section>
            <picture class="intro__image">
                <source class="img--large img--cover" media="(min-width: 1000px)" srcset="/The-Catering-Co-Page-Astro/index-1.2.jpg">
                <img class="img--large img--cover" src="/The-Catering-Co-Page-Astro/index-2.jpg" alt="foto de una pareja">
            </picture>
    </article>
    <article class="eventos flex--rownowrap">
        <section class="eventos__text flex--colnowrap">
            <h2 class="title eventos__title">
                Organizadores de eventos en Quito 
            </h2>
            <p class="text">
                Sabemos lo estresante que puede ser organizar un evento, desde la idea hasta la ejecución del mismo.
                Es por eso que en estos más de 10 años de experiencia, nos hemos especializado a acompañarte en todo el camino hasta tu día especial.
            </p>
            <p class="eventos__subtitle">
                Contáctanos y Organizemos juntos tu evento.
            </p>
            <button class="button eventos__button">
                <a href="/The-Catering-Co-Page-Astro/cotiza" class="button__link link--reset color--white">
                    Cotiza con nosotros
                </a>
            </button>
        </section>
        <figure class="eventos__figure"> 
            <img class="img--large img--cover" src="/The-Catering-Co-Page-Astro/g--3.jpg" alt="arreglo de flores">
        </figure>
    </article>
    <article class="servicios flex--rownowrap">
        <div class="slider">
            <figure class="prev" id="previous">
                <img class="img--large" src="/The-Catering-Co-Page-Astro/arrow-prev.svg" alt="icono atras">
            </figure>
        
            <div class="slider__container">
                <figure class="figure">
                    <img class="img--large img--contain" name="slider">
                </figure>
            </div>
        
            <figure class="next" id="next">
                <img class="img--large" src="/The-Catering-Co-Page-Astro/arrow-next.svg" alt="icono siguiente">
            </figure>
        </div>
        <section class="servicios__text flex--colnowrap">
            <h2 class="servicios__title">
                La satisfacción y alegría de nuestros clientes son el fiel reflejo de nuestro compromiso y calidad
            </h2>
            <p class="servicios__p">
                En The Catering Co. nuestra mejor carta de presentación son nuestros clientes satisfechos. Te presentamos una lista de nuestros servicios.
            </p>
            <ul class="servicios__list">
                <li>
                    <p>
                        Eventos Sociales
                    </p>
                </li>
                <li>
                    <p>
                        Eventos Corporativos
                    </p>
                </li>
                <li>
                    <figure>

                    </figure>
                    <p>
                        Catering
                    </p>
                </li>
                <li>
                    <p>
                        Y mucho más
                    </p>
                </li>
            </ul>
            <button class="button servicios__button">
                <a href="/servicios" class="link--reset button__link">
                    Conoce más
                </a>
            </button>
        </section>
    </article>
    <article class="meraki flex--colnowrap">
        <figure class="meraki__banner">
            <img class="img--large img--cover img--bottom" src="/The-Catering-Co-Page-Astro/stock-2.jpg" alt="">
        </figure>    
        <section class="meraki__text flex--colnowrap">
            <figure class="meraki__logo">
                <img class="img--large" src="/The-Catering-Co-Page-Astro/logo-meraki-sf--negro.png" alt="logo-meraki">
            </figure>
            <p class="text meraki__p">
                El escenario para un gran evento es crucial, es por esto que ponemos a tu disposición la quinta Meraki.
                Un exclusivo lugar con amplias áreas verdes y una vista espectacular ubicada en el Valle de los Chillos, donde podrás celebrar 
                los momentos más especiales de tu vida. Acompañado por nuestros Event Planners, la planificación de tu evento será más llevadero y disfrutable.
            </p>
            <p class="meraki__subtitle">
                Nuestro compromiso es convertir cada evento en un momento extraordinario y memorable.
            </p>
            <button class="button button--white">
                <a class="link--reset button__link color--black" href="/The-Catering-Co-Page-Astro/meraki">
                    Conoce más
                </a>
            </button>
        </section>
    </article>
    <article class="social flex--rownowrap">
        <figure class="social__banner">
            <img class="img--large img--cover" src="/The-Catering-Co-Page-Astro/index-3.png" alt="pastel con un letrero">
        </figure>
        <section class="social__text flex--colnowrap">
            <p class="social__title">
                Siguenos en nuestras redes sociales y enterate de nuestras promociones y eventos.
            </p>
            <section class="social__container flex--rowwrap">
                <button class="button social__button">
                    <a class="link--reset button__link" href="https://www.instagram.com/thecatering.co/?hl=es" target="_blank">
                        Instagram
                    </a>
                </button>
                <button class="button social__button">
                    <a class="link--reset button__link" href="https://www.facebook.com/TheCateringCoQuito" target="_blank">
                        Facebook
                    </a>
                </button>
            </section>
        </section>
    </article>
</Layout>


<script>
    let texts = ['title--1', 'title--2', 'title--3'].map(id => document.getElementById(id));

    function pastText() {
        let index = 0;
        setInterval(() => {
            texts.forEach((text, i) => {
                if (i === index) {
                    text.classList.remove('hidden');
                } else {
                    text.classList.add('hidden');
                }
            });
            index = (index + 1) % texts.length;
        }, 3000);
    }

    pastText();

    let images = [
        "/The-Catering-Co-Page-Astro/s-1.jpg",
        "/The-Catering-Co-Page-Astro/s-2.jpg",
        "/The-Catering-Co-Page-Astro/s-3.jpg",
        "/The-Catering-Co-Page-Astro/s-4.jpg",
    ]

    document.slider.src=images[0]

    let prev= document.getElementById("previous");
    let next= document.getElementById("next");
    let contador=0;

    function atras (){
        contador--
        if(contador<0){
            contador=images.length-1
        }
        document.slider.src=images[contador]

    }

    function adelante (){
        contador++
        if(contador > images.length - 1){
            contador=0
        }
        document.slider.src=images[contador]
    }

    prev.addEventListener("click",atras)
    next.addEventListener("click",adelante)
</script>