---
import Layout from "../layouts/Layout.astro";
import { Slider } from "../components/Slider";
---

<Layout title="Meraki Brunch & Events">
  <article class="intro">
    <section class="intro__text flex--colnowrap">
      <figure class="intro__figure">
        <img
          class="img--large"
          src="/logo-meraki-sf-blanco.svg"
          alt="meraki-logo"
        />
      </figure>
      <h1 class="intro__title title">Quinta para eventos</h1>
      <p class="intro__p">
        En Meraki Brunch & Events, tus eventos se transforma en experiencias
        inolvidables. Desde bodas mágicas hasta fiestas de ensueño, aquí todo
        momento se convierte en una obra maestra.
      </p>
    </section>
    <Slider client:visible />
  </article>
  <article class="card">
    <figure class="card__figure">
      <img class="img--large img--cover" src="/brunch.jpg" alt="brunch">
    </figure>
    <section class="card__text">
      <h2 class="title card__title border--bottom--black">
        Brunch 
      </h2>
      <p class="card__p">
        Disfruta de un brunch en un ambiente natural y acogedor, con una
        variedad de platos dulces y salados, nos acomodamos 
        a tus gustos y necesidades.
      </p>
    </section>
  </article>
  <article class="card flex--rownowrap bg--black">
    <section class="card__text card__text--salon">
      <h2 class="title card__title border--bottom--white">
        Salón de Eventos
      </h2>
      <p class="card__p">
        Disponemos de un salón de eventos para eventos más íntimos, donde podrás
        disfrutar de un ambiente acogedor y elegante. 
      </p>
    </section>
    <figure class="card__figure"> 
      <img class="img--large img--cover" src="/salon.jfif" alt="salon-de-eventos">
    </figure>
  </article>
  <article class="location flex--colnowrap">
    <h2 class="location__title title">
      Todo lo que necesitas para tu evento en el Valle de los Chillos
    </h2>
    <p class="location__p">
      Nos ubicamos en el Valle de los Chillos, a 20 minutos de Quito, en un
      lugar rodeado de naturaleza y con un clima privilegiado. Contamos con
      amplias áreas verdes para complementar el ambiente de tu día especial.
    </p>
    <button class="button location__button"> Ver en el Mapa</button>
  </article>
  <article class="gallery">
    <figure class="figure--1">
      <img src="/g--3.jpg" alt="img" class="img--large img--cover" />
    </figure>
    <figure class="figure--2">
      <img src="/g--1.jfif" alt="img" class="img--large img--cover" />
    </figure>
    <figure class="figure--3">
      <img src="g--2.jpg" alt="img" class="img--large img--cover" />
    </figure>
    <figure class="figure--4">
      <img src="g--4.jpg" alt="img" class="img--large img--cover" />
    </figure>
  </article>
</Layout>

<style>
  .intro {
    height: 60rem;
    display: grid;
    grid-template-columns: 50% 50%;
    background-color: var(--black);
    color: var(--white);
  }
  .intro__text {
    padding: 4rem;
    justify-content: center;
    gap: 3rem;
  }
  .intro__title {
    width: 75%;
    font-size: 3rem;
    border-bottom: 1px solid var(--white);
    padding: 0 0 1rem;
  }
  .intro__figure {
    width: 45rem;
  }
  .intro__p {
    line-height: 3rem;
    font-size: 1.8rem;
  }
  .location {
    height: 55rem;
    justify-content: center;
    align-items: center;
    gap: 4rem;
  }
  .title {
    font-family: var(--heading-font);
    letter-spacing: 0.1rem;
    font-weight: 700;
  }
  .location__title {
    font-size: 4rem;
  }
  .location__p {
    width: 60%;
    font-size: 2rem;
    text-align: center;
    line-height: 3rem;
  }
  .location__button {
    background-color: var(--black);
    color: var(--white);
    padding: 2rem;
    border-radius: 0.5rem;
    font-size: 1.8rem;
    font-weight: 700;
  }
  .location__button:hover {
    transform: scale(1.02);
    transition: all 0.3s ease-in-out;
  }
  .gallery {
    margin: 0 auto;
    display: grid;
    width: 100%;
    padding: 4rem;
    height: 82rem;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    grid-template-rows: repeat(3, minmax(0, 1fr));
    gap: 2rem;
    align-items: center;
    background-color: var(--black);
  }
  .gallery figure {
    width: 100%;
    height: 100%;
  }
  .figure--1 {
    grid-column: 1/3;
    grid-row: 1 / 4;
  }
  .figure--2 {
    grid-column: 3;
    grid-row: 1;
  }
  .figure--3 {
    grid-column: 4;
    grid-row: 1;
  }
  .figure--4 {
    grid-column: 3/5;
    grid-row: 2/5;
  }
  .card{
    display: flex;
    flex-flow: row nowrap;
    height: 40rem;
  }
  .bg--black{
    background-color: var(--black);
  }
  .card__figure{
    width: 50%;
    height: 100%;
  }
  .card__text{
    height: 100%;
    width: 50%;
    padding: 4rem;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-start;
    gap: 2rem;
  }
  .card__text--salon{
    color: var(--white);
  }
  .card__title{
    font-size: 4rem;
    letter-spacing: .15rem;
    padding-bottom: 1rem;
  }
  .card__p{
    font-size: 2rem;
    line-height: 3rem;
    width: 75%;
  }

</style>
