---
import Layout from "../layouts/Layout.astro";
import "../css/meraki.css";
---

<Layout title="Meraki Brunch & Events">
  <article class="flex--colnowrap intro">
    <div class="intro__banner flex--rownowrap">
      <figure class="intro__image">
        <img class="img--large" src="/logo-meraki-blue.svg" alt="foto">
      </figure>
    </div>
    <section class="flex--colnowrap intro__text">
      <h1 class="title intro__title">
        Quinta para eventos
      </h1>
      <p class="text intro__p">
        Meraki Brunch & Events es un espacio único con amplias áreas verdes, con una vista espectacular y un ambiente acogedor. <br>
        Ideal para todos tus celebraciones, contamos con todas las comodidades para que tu y tus invitados disfruten de un día inolvidable. 
        Contamos con un equipo de profesionales que te ayudarán a organizar tu evento y que todo salga perfecto.
        Explora todos los servicios y comodidades que Meraki Brunch & Events tiene para ti.
      </p>
    </section>
  </article>
  <article class="flex--colnowrap location">
    
    <div class="slider2">
      <figure class="prev" id="previous2">
          <img class="img--large" src="/arrow-prev.svg" alt="icono atras">
      </figure>
  
      <div class="slider__container">
          <figure class="figure">
              <img class="img--large img--contain" name="slider2">
          </figure>
      </div>
  
      <figure class="next" id="next2">
          <img class="img--large" src="/arrow-next.svg" alt="icono siguiente">
      </figure>
  </div>
    <button class="button location__button">
      <a class="link--reset" href="https://maps.app.goo.gl/4j4w34ww5TXDWi5S9" target="_blank">
        Ver ubicación
      </a>
    </button>
  </article>
  <article class="flex--colnowrap servicios">
    <h2 class="title servicios__title">
      Servicios
    </h2>
    <article class="flex--rowwrap servicios__container">
      <section class="flex--colnowrap card">
        <figure class="card__figure">
          <img class="img--large img--cover" src="/stock-7.jpg" alt="foto">
        </figure>
        <div class="card__text">
          <h3 class="card__title">
            Eventos Sociales
          </h3>
          <p class="card__p">
            Celebra tus días especiales con nosotros, tenemos todo lo que necesitas para que tu evento sea inolvidable.<br>
            Nos encargamos de tu boda, cumpleaños, aniversarios, cumpleaños, y más.
          </p>
        </div>
      </section>
      <section class="flex--colnowrap card">
        <figure class="card__figure">
          <img class="img--large img--cover" src="/stock-5.jpg" alt="foto">
        </figure>
        <div class="card__text">
          <h3 class="card__title">
            Eventos Corporativos
          </h3>
          <p class="card__p">
            Celebra tus eventos corporativos en un ambiente natural y relajante, con todas las comodidades que necesitas.<br>
            Nos encargamos de tus agasajos, capacitaciones, reuniones, lanzamientos de productos y más.
          </p>
        </div>
      </section>
      <section class="flex--colnowrap card">
        <figure class="card__figure">
          <img class="img--large img--cover" src="/stock-6.jpg" alt="foto">
        </figure>
        <div class="card__text">
          <h3 class="card__title">
            Brunch
          </h3>
          <p class="card__p">
            Disfruta de un delicioso brunch, con una variedad de platos y bebidas para todos los gustos.
            Todo con la garantiá de que nuestros productos son de la mejor calidad y frescura.
          </p>
        </div>
      </section>
    </article>
    <section class="flex--colnowrap contacto">
      <p class="contacto__title">
        Contáctanos ahora y hagamos de tu evento un día inolvidable.
      </p>
      <div class="flex--rowwrap contacto__container">
        <button class="button contacto__button">
          <a class="link--reset button__link" href="https://api.whatsapp.com/send/?phone=593982555079&text&type=phone_number&app_absent=0" target="_blank">
            Escribenos
          </a>
        </button>
        <button class="button contacto__button ">
          <a class="link--reset button__link" href="/cotiza">
            Cotiza ahora
          </a>
        </button>
      </div>
    </section>
  </article>
  <article class="flex--colnowrap beneficios">
    <section class="beneficios__title">
      <h2 class="intro__title title">
        ¿Por qué elegirnos?
      </h2>
    </section>
    <section class="flex--rowwrap beneficios__container">
      <div class="flex--colnowrap beneficios__card">
        <figure class="beneficios__figure">
          <img class="img--large" src="/nature-icon.svg" alt="icono de una casa">
        </figure>
        <h3 class="beneficios__subtitle">
          Espacio natural y acogedor para todos tus invitados.  
        </h3>
      </div>
      <div class="flex--colnowrap beneficios__card">
        <figure class="beneficios__figure">
          <img class="img--large" src="/people-icon.svg" alt="icono de personas">
        </figure>
        <h3 class="beneficios__subtitle">
          Servicio de Event Planner para que tu evento sea perfecto.
        </h3>
      </div>
      <div class="flex--colnowrap beneficios__card">
        <figure class="beneficios__figure">
          <img class="img--large" src="/food-icon.svg" alt="icono de un mesero">
        </figure>
        <h3 class="beneficios__subtitle">
          Personal capacitado para atender a todos tus invitados.
        </h3>
      </div>
    </section>
  </article> 
  <div class="slider">
    <figure class="prev" id="previous">
        <img class="img--large" src="/arrow-prev.svg" alt="icono atras">
    </figure>

    <div class="slider__container">
        <figure class="figure">
            <img class="img--large img--contain" name="slider">
        </figure>
        
    </div>

    <figure class="next" id="next">
        <img class="img--large" src="/arrow-next.svg" alt="icono siguiente">
    </figure>
</div>
</Layout>


<script>
 let images = [
       "/s-10.jpg",
       "/s-13.jpg",
       "/s-14.jpg",
       "/s-11.jpg",
       "/s-15.jpg",
       "/s-12.jpg",
   ]

   document.slider.src=images[0]

   let prev= document.getElementById("previous");
   let next= document.getElementById("next");
   let contador=0;

   function atras (){
       contador--
       if(contador<0){
           contador=images.length-1
       }
       document.slider.src=images[contador]

   }


   function adelante (){
       contador++
       if(contador > images.length - 1){
           contador=0
       }
       document.slider.src=images[contador]
   }

   prev.addEventListener("click",atras)
   next.addEventListener("click",adelante)


   let images2 = [
       "/s-16.jpg",
       "/s-17.jpg",
       "/s-18.jpg",
       "/s-19.jpg",
       "/s-20.jpg",
       "/s-21.jpg",
       "/s-22.jpg",
       "/s-24.jpg",
   ]

    document.slider2.src=images2[0]

    let prev2= document.getElementById("previous2");
    let next2= document.getElementById("next2");
    let contador2=0;

    function atras2 (){
        contador2--
        if(contador2<0){
            contador2=images2.length-1
        }
        document.slider2.src=images2[contador2]

    }

    function adelante2 (){
        contador2++
        if(contador2 > images2.length - 1){
            contador2=0
        }
        document.slider2.src=images2[contador2]
    }

    prev2.addEventListener("click",atras2)
    next2.addEventListener("click",adelante2)

</script>


