---
import Layout from "../layouts/Layout.astro";
import "../css/servicios.css";
---

<Layout title="Servicios The Catering Co">
  <article class="intro flex--colnowrap">
    <div class="intro__bg flex--rownowrap"> 
      <figure class="intro__figure">
        <img class="img--large img--cover" src="/The-Catering-Co-Page-Astro/logo-blanco.png" alt="imagen de un evento">
      </figure>
    </div>
    
    </figure>
    <section class="intro__text flex--colnowrap">
      <h1 class="intro__title title">Nuestros Servicios</h1>
      <p class="intro__p">
        En the Catering Co. llevamos más de 10 años organizando eventos sociales
        y empresariales, ofreciendo un servicio integral de catering,
        ambientación y organización de eventos. Nos especializamos en brindarte
        un servicio personalizado, adaptándonos a tus necesidades y gustos, para
        que puedas disfrutar de tu evento sin preocupaciones.
      </p>
    </section>
  </article>
  <article class="flex--rowwrap container">
    <section class="flex--rownowrap card card--b">
      <div class="card__text flex--colnowrap">
        <h2 class="card__title border--bottom--white">
          Organización de Eventos Sociales
        </h2>
        <p class="card__p">
          Desde la organización integral de tu evento, hasta el catering y
          ambientación, te acompañamos en cada momento para que puedas disfrutar
          de tu evento sin preocupaciones.
        </p>
        <div class="card__container flex--rownowrap">
          <p>
            Servicios: 
          </p>
          <ul class="card__list">
            <li>
              Cumpleaños
            </li>
            <li>
              Bodas
            </li>
            <li>
              Bautisos
            </li>
            <li>
              Cocteles
            </li>
            <li>
              Aniversarios
            </li>
            <li>
              Entre otros
            </li>
          </ul>
        </div>
        <button class="button card__button button--white">
          <a class="link--reset button__link color--white bold" href="/contacto">Cotizar</a>
        </button>
      </div>
      <picture class="card__figure">
        <source class="img--large img--cover" media="(max-width: 1000px)" srcset="/stock-8.jpg">
        <img class="img--large img--cover" src="/fondo-5.jpg" alt="foto eventos sociales">
      </picture>
    </section>
    <section class="flex--rownowrap card card--w">
      <div class="card__text flex--colnowrap">
        <h2 class="card__title border--bottom--black">
          Organización de Eventos Empresariales
        </h2>
        <p class="card__p">
          Organizamos y ambientamos tu evento empresarial, para que puedas lograr un evento memorable.
          Nos preocupamos por cada detalle, para que tu evento sea un éxito.
        </p>
        <div class="card__container flex--rownowrap">
          <p>
            Servicios:
          </p>
          <ul class="card__list">
            <li>
              Agasajos
            </li>
            <li>
              Lanzamientos 
            </li>
            <li>
              Celebraciones
            </li>
            <li>
              Almuerzos
            </li>
            <li>
              Y mucho más
            </li>
          </ul>
        </div>
        <button class="button card__button  button--black">
          <a class="link--reset button__link color--black bold" href="/contacto">Cotizar</a>
        </button>
      </div>
      <picture class="card__figure">
        <source class="img--large img--cover" media="(max-width: 1000px)" srcset="/stock-5.jpg">
        <img class="img--large img--cover" src="/fondo-2.jpg" alt="foto eventos empresariales">
      </picture>
    </section>
    <section class="flex--rownowrap card card--b">
      <div class="card__text flex--colnowrap">
        <h2 class="card__title border--bottom--white">
          Servicio de Catering
        </h2>
        <p class="card__p">
          Brindamos un servicio de catering de excelencia, con la mejor calidad y
          atención personalizada.
          Disfruta de la mejor gastronomía en tu evento social o empresarial, brindado por los mejores chefs con la trayectoria y expertiz que tu evento necesita.
        </p>
        <div class="card__container flex--rownowrap">
          <p>
            Servicios:
          </p>
          <ul class="card__list">
            <li>
              Banquetes
            </li>
            <li>
              Brunch
            </li>
            <li>
              Cenas
            </li>
            <li>
              Almuerzos
            </li>
            <li>
              Cocteles
            </li>
            <li>
              Entre otros
            </li>
          </ul>
        </div>
        <button class="button card__button button--white">
          <a class="link--reset button__link color--white bold" href="/contacto">Contactanos</a>
        </button>
      </div>
      <picture class="card__figure">
        <source class="img--large img--cover" media="(max-width: 1000px)" srcset="/stock-11.jpg">
        <img class="img--large img--cover" src="/fondo-3.jpg" alt="imagen de comida">
      </picture>
    </section>
    <section class="flex--rownowrap card card--w">
      <div class="card__text flex--colnowrap">
        <h2 class="card__title border--bottom--black">
          Catering y Hospitalidad de Conciertos
        </h2>
        <p class="card__p">
          Tenemos 9 años de experiencia en la creación de espacios detrás de escenarios, para artistas nacionales e internacionales, brindando un servicio de catering y hospitalidad de primer nivel.
        </p>
        <div class="flex--colnowrap">
          <p class="card__subtitle">
            Nos distinguimos por:
          </p>
          <ul class="card__list--2">
            <li>
              Confidencialidad en cada uno de nuestros procesos.
            </li>
            <li>
              Llevar un cumplimiento estricto de rider de hospitalidad.
            </li>
            <li>
              Brindar un servicio de catering de excelencia.
            </li>
          </ul>
        </div>
        <button class="button card__button  button--black">
          <a class="link--reset button__link color--black bold" href="/contacto">Cotizar</a>
        </button>
      </div>
      <picture class="card__figure">
        <source class="img--large img--cover" media="(max-width: 1000px)" srcset="/stock-10.jfif">
        <img class="img--large img--cover" src="/fondo-4.jpg" alt="imagen de un camerino">
      </picture>
    </section>
  </article>  
  <article class="flex--colnowrap beneficios">
    <section class="beneficios__title">
      <h2 class="intro__title title">
        ¿Por qué elegirnos?
      </h2>
    </section>
    <section class="flex--rowwrap beneficios__container">
      <div class="flex--colnowrap beneficios__card">
        <figure class="beneficios__figure">
          <img class="img--large" src="/house-icon.svg" alt="icono de una casa">
        </figure>
        <h3 class="beneficios__subtitle">
          Servicio adaptado a tu espacio y necesidades.  
        </h3>
      </div>
      <div class="flex--colnowrap beneficios__card">
        <figure class="beneficios__figure">
          <img class="img--large" src="/people-icon.svg" alt="icono de personas">
        </figure>
        <h3 class="beneficios__subtitle">
          Servicio de Event Planner de primer nivel.
        </h3>
      </div>
      <div class="flex--colnowrap beneficios__card">
        <figure class="beneficios__figure">
          <img class="img--large" src="/pers-icon.svg" alt="icono de un mesero">
        </figure>
        <h3 class="beneficios__subtitle">
          Personal altamente capacitado y con experiencia.
        </h3>
      </div>
    </section>
  </article> 
  <div class="slider">
    <figure class="prev" id="previous">
        <img class="img--large" src="/arrow-prev.svg" alt="icono atras">
    </figure>

    <div class="slider__container">
        <figure class="figure">
            <img class="img--large img--contain" name="slider">
        </figure>
        
    </div>

    <figure class="next" id="next">
        <img class="img--large" src="/arrow-next.svg" alt="icono siguiente">
    </figure>
</div>
</Layout>

<style>
   
</style>

<script>
  let images = [
        "/s-5.jpg",
        "/s-6.jpg",
        "/s-7.jpg",
        "/s-8.jpg",
        "/s-9.jpg",
    ]

    document.slider.src=images[0]

    let prev= document.getElementById("previous");
    let next= document.getElementById("next");
    let contador=0;

    function atras (){
        contador--
        if(contador<0){
            contador=images.length-1
        }
        document.slider.src=images[contador]

    }

    function adelante (){
        contador++
        if(contador > images.length - 1){
            contador=0
        }
        document.slider.src=images[contador]
    }

    prev.addEventListener("click",atras)
    next.addEventListener("click",adelante)
</script>
