main {
    padding: 6rem;
  }
  .container--text {
    text-align: center;
    display: flex;
    flex-flow: column nowrap;
    text-align: left;
    gap: 2rem;
    margin-bottom: 1rem;
  }
  .container__title {
    padding-bottom: 1rem;
    font-family: var(--heading-font);
    font-size: 3rem;
    letter-spacing: .15rem;
    border-bottom: 3px solid var(--black);
    width: clamp(40rem ,60%, 50rem);
  }
  .container__p{
    line-height: 3.2rem;
  }

/*
* MEDIA
*/

@media (max-width: 1000px){
  main{
    padding: 3rem;
  }
  .container--text{
    text-align: center;
    justify-content: center;
    align-items: center;
  }
}
@media (max-width: 500px){
  .container__title {
    padding-bottom: 1rem;
    font-family: var(--heading-font);
    font-size: 3rem;
    letter-spacing: .15rem;
    border-bottom: 3px solid var(--black);
    width: 100%;
  }
}