footer{
    background-color: var(--black);
    color: var(--white);
}

.footer__title{
    font-size: 2rem;
    margin-bottom: 1rem;
}
.icon{
    width: 2rem;
    height: 2rem;
}
.menu{
    padding: 4rem;
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    gap: 12rem;
}
a{
    text-decoration: none;
    color: white;
}
a:hover{
    text-decoration: underline ;
}
.sublist{
    display: flex;
    flex-flow: column nowrap;
    gap: 1rem;
}
.title{
    font-size: 2rem;
    margin-bottom: 1rem;
}
.subtitle{
    font-size: 1.8rem;
}


/*
* MEDIA QUERIES
*/
@media (max-width: 800px) {
    .menu{
        flex-flow: column nowrap;
        align-items: flex-start;
        justify-content: center;
        align-items: center;
        width: 100%;
        max-width: 60rem;
        gap: 5rem;
        padding: 4rem 0;
        margin: auto;
    }
    .menu__li{
        width: 100%;
        text-align: center;
        display: grid;
        place-items: center;
        padding: 0 0 5rem;
        border-bottom: 1px solid rgb(217, 218, 219);
    }
}