header{
    height: 12rem;
    padding: 2rem 4rem;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
}
.header__figure{
    width: clamp(15rem,30%, 16rem);
    
}
.nav--desktop{
    width: 80%;
    font-size: 1.8rem;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;
    margin-left: 4rem;
}
.nav--mobile{
   display: none;
}
.nav--desktop__list{
    height: 100%;
    align-items: center;
    gap: 4rem;
    position: relative;
}
.nav--desktop__icons{
    height: 100%;
    align-items: center;
    gap: 3rem;
    display: flex;
    flex-flow: row nowrap;
}
.nav--desktop__sublist{
    display: none;   
    transition: all 0.3s ease-in-out;
}
.nav--mobile{
    display: none;
}
.nav--mobile__ul{
    display: none;
}
.list__icon{
    color: var(--black);
    width: 3rem;
    cursor: pointer;
}
.icon--container{
    height: 4rem;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.icon--container:hover  .nav--desktop__sublist{
    display: inline-block;
    padding: 1rem 0;
    position: absolute;
    bottom: -20rem;
    background-color: var(--black);
}
.sublist__link{
    width: 100%;
    height: 5rem;
    padding: 0 1.5rem;
    display: flex;
    align-items: center;
    color: var(--white);
}
.sublist__link:hover{   
    background-color: var(--white);
    color: var(--black); 
    transition: all 0.3s ease-in-out;
}

/*
*Media Queries
*/
@media (max-width: 1200px){
    .nav--desktop__icons {
        display: none;
    }
}

@media (max-width: 899px){
    header{
        display: grid;
        grid-template-columns: 20% 60% 20%;
        grid-template-rows: 100%;
        place-items: center;
        position: relative;
    }
    .nav--desktop{
        display: none;
    }
    .nav--mobile{
        grid-row: 1;
        grid-column: 1;
        display: flex;
        position: relative;
    }
    .nav--mobile__figure{
        max-width: 4rem;
    }
    .nav--desktop__icons {
        height: 100%;
        align-items: center;
        gap: 3rem;
        display: flex;
        flex-flow: row nowrap;
    }
    .nav--mobile__ul{
        display: flex;
        flex-flow: column nowrap;
        gap: 1rem;
        width: 100%;
        padding: 3rem ;
        left: 0;
        position: absolute;
        background-color: var(--black);
        bottom: -49rem;
        z-index: 3;
    }
    .nav--mobile__container{
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-end;
    }
    .list--mobile__li{
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        height: 4rem;
    }
    .list--mobile__services{
        height: max-content;
        align-items: center;
        justify-content: center;
        gap: 1rem;
    }
    .list--mobile__sublist{
        width: 100%;
        max-width: 50rem;
        background-color: #3b3a3a;
        text-align: center;
    }
    .list--mobile__sublist__li{
        height: 4rem;
        display: grid;
        place-items: center;
    }
    .nav--mobile__icon{
        width: 3rem;
    }
}

@media (max-width: 500px){
    header{
        display: grid;
        justify-items: center;
        position: relative;
        padding: 1rem;
        place-items: center;
    }
    .nav--desktop__icons{
        display: none;
    }
    .nav--mobile{
        display: flex;
        justify-self: flex-start;
    }
}

/* 
* STATES
*/
.hidden{
    display: none;
}
