---
import "@fontsource-variable/oswald";
import "@fontsource/source-sans-pro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import "../css/global.css"

interface Props {
  title: string;
  desc: string;
}

const { title } = Astro.props;
const { desc } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={desc} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/catering-icon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <!-- FACEBOOK TAGS  -->
    <meta property="og:title" content="The Catering Company" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content={desc} />
    <meta property="og:image" content="https://i.ibb.co/zP2shdy/fondo-fb.jpg" />
  </head>
  <body>
    <Header />
    <slot />
    <Footer />
    <div class="button--whatsapp">
      <a
        href="https://api.whatsapp.com/send/?phone=593982555079&text&type=phone_number&app_absent=0"
        target="_blank"
      >
        <img
          class="img--large"
          src="/The-Catering-Co-Page-Astro/wsspButton.png"
          alt="Go-to-whatsapp-button"
        />
      </a>
    </div>
  </body>
</html>


